.nav {
  flex: 0 1 20%;
  padding-left: 10px;
  font-weight: 600;
  font-size: 15px;
  @media (max-width: 768px) {
    flex: 0 1 10%;
    h2 {
      content-visibility: hidden;
    }
  }
  h1 {
    font-weight: 700;
    font-size: 20px;
  }
  h2 {
    font-weight: 600;
    font-size: 17px;

  }

  ul {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    li {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  .nav-group {
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
    .nav-drop {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 0;
      border: none;
      font: inherit;
      color: inherit;
      background-color: transparent;
      cursor: pointer;
    }
    .nav-drop-active {
      .setting-drop-btn {
        transform: rotate(180deg);
      }
    }
  }
  .nav-item {
    position: absolute;
  }
  .nav-item-active {
    position: inherit;
    li {
      padding-top: 15px;
    }
  }
}